body {
    background-color: #0b0013;
    color: #cc66ff;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loading-screen img {
    max-width: 300px;
    margin-bottom: 20px;
}
canvas {
    image-rendering: pixelated;
    border: 2px solid #7f00ff;
    background-color: #000;
}
